.img-tarou{
  background-image:url(images/tarou.jpg);             /* 画像のURLを指定       */
  background-repeat:  no-repeat;                /* 画像の繰り返しを指定  */
  width:74px;
  height: 100px;                                   /* 横幅のサイズを指定    */
  margin-bottom: 10px;
}

.img-zirou{
  background-image:url(images/zirou.jpg);             /* 画像のURLを指定       */
  background-repeat:  no-repeat;                /* 画像の繰り返しを指定  */
  width:74px;                                   /* 横幅のサイズを指定    */
  height:100px;                                 /* 縦幅のサイズを指定    */
  margin-bottom: 10px;
}

.img-saburou{
  background-image:url(images/robot.jpg);             /* 画像のURLを指定       */
  background-repeat:  no-repeat;                /* 画像の繰り返しを指定  */
  width:74px;                                   /* 横幅のサイズを指定    */
  height:100px;                                 /* 縦幅のサイズを指定    */
  margin-bottom: 0;
}


li {
  list-style: none;
}