@charset "UTF-8";


body{


}

.wrapper{
  margin:0 auto 0 auto;
  max-width: 700px;
}

.wrapper2{
  margin:0 auto 0 auto
  max-width: 1400px;
}

.haiiro{
  color: #bdbdbd;
}

.kazyougaki{
  color: #0080ff
}

.under{
  border-bottom: solid 3px #6e6e6e;


}

.gazou5{
  float:left;
  padding:0 1em 1em 0;
}

.haikei{
  background-color: #bdbdbd

}

.red{
  background-color: #ff0000
}

.white{
  color:#ffffff;
  font-size: 120%;
}