@charset "UTF-8";

body {

}

.wrapper{
  overflow-x: hidden;
}

.jumbotron { background:url(images/gazou1.png);
  position: relative;
  height: 60vh;
  min-height: 350px;
}




.header{
  background-color:#00c878;
}

.header-innner{
  width:960px;
  height:60px;
}

.irasutoya{
  margin-left:200px;
}

.relative{
  position: relative;
  top: 10px;
  left: 150px;

}

.header-text{
  color:#ffffff;
  font-size: 180%;
  font-weight: bold;
}

.menu{
  border-bottom: solid 2px #C0C0C0;
}

.menu-inner{
  margin:0 0 20px 100px;
}

.article-header{
  margin:50px 0 30px 80px ;
}

.time{
  color:#C0C0C0;
  margin:0 0 80px 80px ;
}

.introduction-image{
  margin:150px 0 20px 0;
}


.introduction{
  margin:50px 0 20px 0;
  color:#808080;
}

.introduction2{
  margin:0 0 80px 0;
  color:#808080;
}

.introduction3{
  margin:0 0 70px 0;
}

.introduction4{
  margin:0 0 100px 0;
}

.article1{
  margin:80px;
  border-bottom: solid 2px #C0C0C0;
}


.article2{
  margin:80px;
}

.article3{
  margin-top:80px;
  margin-bottom:80px;
  border-bottom: solid 2px #C0C0C0;

}



.koukoku{
  margin:0 0 50px 0;
}

.page{
  margin-left:500px;
  margin-top:10px;
}

@media (min-width:1200px) {
  .page{
   margin-top:10px;
  }
}

.tyosakukenn{
  color:#C0C0C0;
  margin-bottom: 20px;
}

@media (min-width:1200px) {
  .tyosakukenn{
    color:#C0C0C0;
    margin-left:900px;
    margin-bottom:20px;
  }
  }
