@charset "UTF-8";

body{
  background-color:#EEFFFF;

}

.nav {
  width: 100%;
  height: 100px;
}

.nav-in {
  width: 100%;
  height: 100px;
  position: inherit;
  top: 0;
  left: 0;
  background: #fff;
}

body, html, main {
  /* important */
  height: 100%;
}

.cd-fixed-bg {
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}

.cd-fixed-bg.cd-bg-1 {
  background-image: url("images/gazou2.jpg");
}
.cd-fixed-bg.cd-bg-2 {
  background-image: url("images/gazou2.jpg");
}
.cd-fixed-bg.cd-bg-3 {
  background-image: url("../img/cd-background-3.jpg");
}
.cd-fixed-bg.cd-bg-4 {
  background-image: url("../img/cd-background-4.jpg");
}

.cd-scrolling-bg {
  min-height: 100%;
}

.title{
  color:white;
}

.margin{
  margin-bottom: 1000px;
}

#nav {
  list-style: none;
}

#nav li {
  width: 165px;
  height: 30px;
  text-align: -webkit-center;
  background-color:deepskyblue;
  display: inline-block;
}

#nav li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.title1{
  color:blue;
  font-family: cursive;
  margin-bottom: 80px;
  margin-top: 50px;
}

.title2{
  color: blue;
  font-family: cursive;
  margin-top: 100px;
}

.title3{
  color:blue;
  font-family: cursive;
  margin-top: 150px;
  margin-left: 460px;
  margin-bottom: 0px;
}

.title4{
  color:deeppink;
  font-family: cursive;
  position: relative;
  top: 150px;
  left: 650px;
}

.title5{
  position: relative;
  top: 210px;
  left: 670px;
}

.title6{
  color:blue;
  font-family: cursive;
  position: relative;
  top: 80px;
  left: 40px;
}

.title9{
  position: relative;
  top: 132px;
  left: 60px;
}

.title7{
  color:orangered;
  font-family: cursive;
  position: relative;
  top: 30px;
  left: 650px;
}

.title8{
  position: relative;
  top: 80px;
  left: 650px;
}

.title11{
  color:deepskyblue;
  font-family: cursive;
  position: relative;
  top: 0;
  left: 40px;
}

.title10{
  position: relative;
  top: 52px;
  left: 60px;
}

.images1{
  margin-bottom: 100px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;

}

.button1{
  width: 300px;
  margin-left: 400px;
}

.button2{
  width: 300px;
}

.uturikawari{
  height: 400px;
  width:500px;
  margin:auto;
  object-fit:fill;
  object-position: bottom;
  position: relative;
  bottom: 125px;
  right: 300px;

}

.uturikawari2{
  height: 400px;
  width:500px;
  margin:auto;
  object-fit:fill;
  object-position: bottom;
  position: relative;
  bottom: 200px;
  left: 290px;

}

.uturikawari3{
  height: 400px;
  width:500px;
  margin:auto;
  object-fit:fill;
  object-position: bottom;
  position: relative;
  bottom: 250px;
  right:300px;
}

.uturikawari4{
  height: 400px;
  width:500px;
  margin:auto;
  object-fit:fill;
  object-position: bottom;
  position: relative;
  bottom: 280px;
  left: 290px;
}



