body{
  width: 100%;
  overflow-x: hidden;
}

li {
  list-style: none;
  position: relative;
  left: 100px;
  bottom:55px;

}

.image{
  width:80px;
  height:100px;
}

.button1
{
  position: relative;
  left: 60px;
}